{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Wilhen Cruz</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, harum odio voluptate maiores dolorum
            blanditiis quod magni ipsa molestiae cupiditate ut sit enim quidem dolor aperiam, dignissimos perspiciatis
            vitae similique!</p>
    </div>
    <div class="col-4">
        <img src="/assets/img/LinkedIn.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}